[2021-10-26 22:59] jbphet opened #4 "What hardware devices should we use to develop and test the Haptics Playground?"
One of my objectives for this quarter is "Design and initial prototype of Haptics Playground for iOS".  I believe that the thinking has changed on this since iPads don't generally support haptics, but there are some Android tablets that do, so we're going to target them first.

So that I can do the development and QA can test, we will need some vibration-capable Android tablets.  What devices woul

[2021-10-26 23:08] jbphet commented on #4
I just did a little online research, and it looks like a number of the Samsung tablets support haptic feedback, but not all of them.  We will have to make sure we get the right ones.  It would also be good to get at least one other brand so that we can do some comparisons.

[2021-10-27 15:51] jbphet commented on #4
I talked with one of our collaborators about what they might recommend, and here was the response:

Here's the data from the spreadsheet:

Release | Tablet Name | Vibration | Mechanism | Notes
-- | -- | -- | -- | --
2021 | Samsung Galaxy Tab S7/S7+ | Yes | Coin | Some reviews mention the  vibration capabilities are limited to system alerts, but I doubt it. It's  never been that way in the past.
20

[2021-11-02 23:24] jbphet commented on #4
There is a library called `haptics.js` that has a demo page that can be used as a quick test to see if HTML haptics are supported on a given device.  The current URL is http://www.hapticsjs.org/.  I went to Best Buy and tried out several devices using this, and the Samsung S7+ worked, as did a Google Pixel 6.  Their Tab S7 wasn't working, so I didn't get a chance to try it, and they didn't have an

[2021-11-02 23:25] jbphet commented on #4
I asked someone on the team who has an Android phone to try out `haptics.js`, and here was the response:

[2021-11-09 23:55] jbphet commented on #4
I've obtained a Samsung Tab S7, and so far it is working well to test out some basic haptics functionality.

[2021-11-10 00:00] jbphet opened #6 "Add sounds to be played with haptics"
In today's sound design meeting (11/9/2021) a very early prototype of the "Haptics Playground" was demonstrated.  It was suggested that the code also play sounds to go along with the haptics so that users can at least get some idea of what should be happening when testing on devices that have no haptics capability.  We are thinking that the sound should be something that creates a sense of vibrati

[2021-11-15 21:02] Ashton-Morris commented on #6
I have some some sounds to try out. [Link](https://drive.google.com/drive/folders/1MvoFmyoQidly_EzJKfLNSCrA-_S88-JN?usp=sharing)

- haptic-buzz-loop.mp3
- haptic-buzz-loop.wav
- haptic-buzz-loop-with-bass.mp3
- haptic-buzz-loop-with-bass.wav

[2021-11-19 18:27] jbphet commented on #6
Sounds have been added, I think it's safe to close this.

[2021-11-19 18:28] jbphet commented on #6
Wait, actually, I think we said there should be an AB switch for the sound, or at least a checkbox.  I should implement that before closing this.

[2021-11-30 18:16] jbphet commented on #6
I've added a checkbox, which should probably do it for now.  I'll review with the design team today.

[2021-11-30 18:32] jbphet opened #1 "Move initial haptics-playground code from the tappi repo to here"
Some early prototype code for the haptics playground was done in the tappi repo.  It should now be moved here.  I'm not going to worry about transferring the history, since there isn't much, and it's a more time-consuming process to do so.

[2021-11-30 20:19] jbphet commented on #6
The sound design team discussed this in today's meeting, and we decided that this can be closed.  If we want to add more sophisticated sound later, we'll do that under new issues.

[2021-11-30 20:19] #6 closed, assigned to nobody

[2021-12-01 00:18] jbphet opened #2 "Document how to set up the build environment for haptics-playground"
It has taken me a lot of time to get Adobe Cordova and Android Studio set up such that I can build an app and debug it on an Android emulator and a Samsung S7.  It also required a ridiculous amount of searching the internet and trying things.  Once I am able to build, test, and iterate on this and have it all checked in, I should write up how to get this working and hopefully save future developer

[2021-12-01 16:40] jbphet commented on #1
Move complete, closing.

[2021-12-01 16:40] #1 closed, assigned to jbphet

[2021-12-02 05:51] samreid opened #3 "lint-everything: Error: No files matching '../quake' were found."
CT reported:

[code]

Lint requires to find files, so we must either add at least one *.js file in quake, or remove it from the list of repos to lint.  If we add it to the list of repos not to lint, we may forget to remove it when we add a *.js file, so I'll just create a short *.js file for now.  It can be deleted when there are other *.js files.

[2021-12-02 05:55] samreid commented on #3
Proposed temporary fix in the commit.  @jbphet can you please review?

[2021-12-02 23:40] jbphet commented on #3
Thanks @samreid.  I changed the file name and added an explanation in the file.

I also added a TODO in the file and referenced this issue.  I'm going to remove the "ready-for-review" label and defer this issue for now, but I'll keep it around as a reminder to remove the file at some point.  Once the file is removed, this issue can be closed.

[2022-01-04 19:36] jbphet commented on #4
Note: While working on the plugin that will allow us to access native Android vibration capabilities, I tried out the "Device" plugin, and it said the model of the S7 that I have is an SM-T870.

[2022-01-05 00:01] jbphet opened #5 "Create artwork for the main screen"
I grabbed an open-source piece of artwork of a playground off the web and did some resizing to make it look half decent on the main screen for the Haptics Playground app.  It currently looks like this in an Android emulator:

![image](https://user-images.githubusercontent.com/3082831/148140149-c5d6a1a9-7b01-48f0-a0b6-2ee0e78d7875.png)

I was talking with @Ashton-Morris during our weekly sound+hapt

[2022-01-05 00:09] jbphet opened #7 "Add a sound that corresponds to a quick vibratory jolt"
In #6, some sounds were created that could be played along with the haptics vibrations, or instead of them on platforms where no vibration support is available.  We could probably use one additional sound, one that can be played when the vibration is just a  quick jolt or bump.  This could be a one-shot sort of sound instead of the loop that was used for the other sounds.

[2022-01-07 19:04] Ashton-Morris commented on #7
[Here is your sound](https://drive.google.com/file/d/1dHKt7e5wwVFWvJ-Q5BjF3rcSZhBrP0Hp/view?usp=sharing)

[2022-01-18 00:55] jbphet commented on #5
Just had a thought: It would be great if the artwork incorporated the PhET logo somehow.

[2022-01-25 17:55] Ashton-Morris commented on #5
@jbphet I have some art for this.
[Here it is](https://drive.google.com/file/d/1uWBMMetLc-3dAdOScNE9IuGvgyfBr5r3/view?usp=sharing)

[2022-01-25 17:56] Ashton-Morris commented on #5
Let me know if you want me to adjust the sizing.

[2022-01-25 20:26] jbphet commented on #5
@Ashton-Morris and I reviewed this in today's weekly meeting, and here are some suggested next steps:

- [x] Make the "Haptics Playground" words more visible and the logo less, and use the standard colors for the logo.  Maybe use "by PhET", so that it's kind of a byline.
- [x] The current aspect ratio is 3.8 (width to height).  It would be nice to reduce the height a bit and thereby gain some more

[2022-01-31 19:10] Ashton-Morris commented on #5
I am uploading some options [here](https://drive.google.com/drive/folders/16bKIpUDANSkrY9x2RZLu6-SvAMdzPG70?usp=sharing). It has different Font logo colors and border options.

Playground-Art-for-Haptics-Playground-v6b.png
Playground-Art-for-Haptics-Playground-v6a.png
Playground-Art-for-Haptics-Playground-v6.png
Playground-Art-for-Haptics-Playground-v5b.png
Playground-Art-for-Haptics-Playground-v5

[2022-02-01 20:33] jbphet commented on #5
@Ashton-Morris and I reviewed this in today's review meeting.  The two preferred versions at this point are v1b and v6b.  There are a few mods that we'd like to try to these:

- Thicker letters, perhaps a bold font weight
- A slightly thicker stroke on the letters
- Possibly moving or removing the trees that are behind the upper portions of the words so that there is less visual interference with

[2022-02-01 20:37] jbphet opened #8 "Icon artwork for the nav bar"
The current mockups for the Haptics Playground design are using some pretty crude, mouse-drawn icons for the "Clicks", "Buzzes", and "Patterns" selections on the nav bar (see image below).  Since this design has been approved by the design team, it's probably time to create "real" icon artwork for these.

Note that we only need the icons, not the words - the words can be added programmatically.

@

[2022-02-03 18:28] Ashton-Morris commented on #5
I have added some iterations.

- Playground-Art-for-Haptics-Playground-Bolder-v1b.png
- Playground-Art-for-Haptics-Playground-Bolder-v1b.2.png
- Playground-Art-for-Haptics-Playground-Bolder-v6b.2.png
- Playground-Art-for-Haptics-Playground-Bolder-v6b.png

[2022-02-03 19:06] Ashton-Morris commented on #8
I have some art to test out[ located here](https://drive.google.com/drive/folders/16bKIpUDANSkrY9x2RZLu6-SvAMdzPG70?usp=sharing).

- Haptics-Playground-Clicks-2.png
- Haptics-Playground-Patterns.png
- Haptics-Playground-Buzzes.png
- Haptics-Playground-Clicks.png

[2022-02-03 21:26] jbphet commented on #8
@Ashton-Morris - I took a quick look, and the clicks and buzzes ones look good.  I don't think the one for patterns is quite what we're after.  The idea for this one is that it is a combination of sine waves and spaces, rather than a more complex looking waveform.

[2022-02-08 16:31] Ashton-Morris commented on #8
@jbphet [How about something like this?](https://drive.google.com/file/d/1fJR43Ro0PVhdiZxLVkGw72hSZAzjloqW/view?usp=sharing)

[2022-02-08 20:09] jbphet commented on #5
I integrated a couple of these this week, and we are currently thinking that the v6b.2 version looks the best.  One last request: Can we remove or soften some of the wavy lines on the playground, and in particular the one under the title?

[2022-02-08 20:21] jbphet commented on #8
I tried these out, and at the moment it looks like this:

![image](https://user-images.githubusercontent.com/3082831/153067686-053b8eac-b3d1-47cf-8ef3-17f57792cd94.png)

Here are a few things I think we should try:

- The click should be about half as wide
- The buzz frequency should be about twice as much as it is (or half as much distance between each cycle)
- The "pattern" icon should have a co

[2022-02-11 18:16] Ashton-Morris commented on #5
Added some updates to that art.

- Playground-Art-for-Haptics-Playground-Bolder-v6b.2.2.png
- Playground-Art-for-Haptics-Playground-Bolder-v6b.2.1.png

[2022-02-11 19:05] Ashton-Morris commented on #8
Adding some icons.

- Haptics-Playground-Buzzes-v3.png
- Haptics-Playground-Patterns-v3a.png
- Haptics-Playground-Patterns-v3.png
- Haptics-Playground-Clicks-v3a.png
- Haptics-Playground-Clicks-v3.png
- Haptics-Playground-Buzzes-v3a.png

[2022-02-16 18:28] jbphet commented on #5
I think v6b.2.1 looks great, and I think we should go with that one.  Below is a screenshot of what it looks like in context.  Thanks @Ashton-Morris!  Closing.

![image](https://user-images.githubusercontent.com/3082831/154331653-5212ad3b-2a97-4e0b-a322-42eef982d56c.png)

[2022-02-16 18:28] #5 closed, assigned to jbphet

[2022-02-21 23:22] jbphet commented on #8
These look good.  I ended up using the v3 versions with the thicker stroke instead of the v3a versions.  Here's a screenshot with the latest ones integrated:

![image](https://user-images.githubusercontent.com/3082831/155037559-95dad29e-cfd1-42ee-900d-41cf99456ae8.png)

[2022-02-21 23:23] jbphet commented on #8
I think we're good on this, at least for now.  Closing.

[2022-02-22 18:05] jbphet commented on #3
There is a grunt file in the `js` directory now, as well as `js` files in other places.  Lint and lint-everything are both passing.  I think it's safe to remove the stub.js file.  I'll try it, and keep an eye on CT.

[2022-02-22 19:51] jbphet commented on #3
CT looks good, closing.

[2022-02-22 19:51] #3 closed, assigned to jbphet

[2022-03-08 21:43] jbphet commented on #4
During the development of the app I discovered that the Samsung S7 (SM-T870) doesn't support different intensities.  Yikes!  @jessegreenberg and I just tested it on his Samsung Galaxy S8, and intensity _does_ work there.

[2022-03-08 22:04] jbphet commented on #4
From one of our collaborators re intensity:

[2022-03-08 23:02] jbphet commented on #8
I'd like to try a lighter colored nav bar that draws from the header artwork.  @Ashton-Morris - As we discussed in today's meeting, can I get black and SVG versions of the click, buzzes, and patterns artwork?

[2022-03-14 17:26] Ashton-Morris commented on #8
I have added the below files to the Art folder.

- Haptics-Playground-Patterns-v3.svg
- Haptics-Playground-Buzzes-v3.svg
- Haptics-Playground-Clicks-v3.svg
- Haptics-Playground-Patterns-v3-Black.png
- Haptics-Playground-Buzzes-v3-Black.png
- Haptics-Playground-Clicks-v3-Black.png

[2022-03-14 23:39] jbphet opened #9 "Put up warnings for pattern elements that don't make sense"
For the initial implementation I'm writing the code to be very tolerant about what pattern elements are added.  However, some things don't really make sense, like patterns that start with a zero-intensity vibration, or two vibration specs in a row with the same intensity.  Once we're a bit further along, some error checking should be added.

[2022-03-29 20:21] jbphet opened #10 "Make layout work on phone-sized screens"
As of this writing, the layout of the app is locked to portrait mode and looks pretty decent on my primary test device, which is a Samsung Tab S7 tablet.  I just worked with @jessegreenberg to test it on his Samsung Galaxy S8 phone, and the layout doesn't look very good at all.  Below are some images captured from that testing, which was done over Zoom.  I'll need to figure out how to make this wo

[2022-04-05 20:48] jbphet commented on #10
@jessegreenberg and I tested this on his phone today, and he reported that the layout is much improved.  The UI controls fit on the first two screens ("Clicks" and "Buzzes"), and they work on the third screen ("Patterns") but require a bit of scrolling.  The scrolling didn't impress him as problematic.

I'd like to get a bit more feedback from other users before closing this, but I think I'll wait

[2022-04-05 21:12] jessegreenberg opened #11 "Using modules in haptics-playground-main.html doesn't always work"
On my machine, using JavaScript modules causes a runtime error for the cordova app. In order to build and run quake I have to make these changes to stop using modules:

[code]
But this isn't required on @jbphet's setup. Documenting it here so we remember what needs to change when I need to build quake, and maybe to investigate what needs to change about my cordova setup so that I can use modules i

[2022-04-05 22:15] jbphet opened #12 "How should releases be done, including versioning?"
I'm about to publish the first version of this app to the Play Store for internal testing, and I'm thinking I should document the process so that I can make it repeatable.  When releasing a PhET sim, we have a lot of support from the tools that we've built up of the years, but I can't use them for this process.  I'm going to write the steps up as a manual checklist in the `doc` directory, and may

[2022-04-05 22:19] jbphet commented on #12
I'll use the same versioning system that PhET is using, which is called "Semantic Versioning" and is described [here](https://docs.npmjs.com/about-semantic-versioning).  It has numbers for major, minor, and patch releases, e.g. 1.0.2.  I'm going to start with version 0.0.1, since this is very much a beta release.

[2022-04-06 17:33] jbphet commented on #12
The release process will be described in [this document](https://github.com/phetsims/quake/blob/master/doc/release-process.md), at least for now.

[2022-04-07 21:00] jbphet commented on #12
I've created the first version of the checklist document.  I'll leave this issue open but anassigned for now, and will make an effort to update the list when future releases are published.

[2022-04-11 19:43] jbphet opened #13 "Add sounds that correspond to the vibrations"
In the 4/5/2022 haptics meeting, the quad and haptics design teams discussed whether support for sounds that correspond to the vibrations should be added.  It was decided that yes, this feature should be added.

[2022-04-12 19:23] jbphet commented on #13
We reviewed an early prototype of this functionality at todays haptics+quad meeting, and got some feedback that we should probably mellow the vibration sound a little bit from what we are currently using.  @Ashton-Morris will take a shot at this.

[2022-04-12 19:39] jbphet opened #14 "Integrate decent icons into the Android version"
For the original 0.0.1 release, I took some pieces of the header artwork and used them for the icons that are supposed to be provided.  They're not horrible, but we could definitely do a lot better.  @Ashton-Morris is up for creating some better versions and will get started on it, and meanwhile I'll try to figure out exactly what we need to provide both internal to the app and for the Play Store.

[2022-04-15 20:04] Ashton-Morris commented on #13
@jbphet I am adding 5 options to test out. If you want to do only three, my favorites are haptic-buzz-loop-v2, haptic-buzz-loop-v2-001, and haptic-buzz-loop-v2-003. [They are stored here. ](https://drive.google.com/drive/folders/1MvoFmyoQidly_EzJKfLNSCrA-_S88-JN?usp=sharing)

- haptic-buzz-loop-v2.wav
- haptic-buzz-loop-v2-001.wav
- haptic-buzz-loop-v2-002.wav
- haptic-buzz-loop-v2-003.wav
- hapti

[2022-04-18 21:43] jbphet commented on #14
@Ashton-Morris - For the Play Store we will need a 512px by 512px icon.  More information on what Google considers to be good design can be found here:
https://developer.android.com/distribute/google-play/resources/icon-design-specifications.

I also created an initial set of icons for the app that were just an excerpt from the header artwork that you created.  They look like this:

![image](https

[2022-04-18 23:23] jbphet commented on #13
I just sent this to @Ashton-Morris over Slack:

[2022-04-19 15:36] Ashton-Morris commented on #13
Added two Organ-ish Options

- haptic-buzz-loop-v2-007.wav
- haptic-buzz-loop-v2-006.mp3
- haptic-buzz-loop-v2-006.wav
- haptic-buzz-loop-v2-007.mp3

[2022-04-19 18:29] jbphet commented on #13
We reviewed a number of these sounds with the design team today and decided on the low organ note sound, which is the file named `haptic-buzz-loop-v2-006`.  I'll integrate this one.

[2022-04-19 18:36] jbphet commented on #13
We are pretty close to being done with this, but when testing on Jesse's phone we noticed a clicking sound at the end of the vibration sounds in some cases, and I can sometimes here it on my Samsung tablet too.  I'll take a bit of time and see if I can make it go away.

[2022-04-19 18:59] jbphet opened #15 "Adding a pattern that is too long with cause the pattern display to "flatline""
Seen on version 0.0.1, both the browser in Chrome and on my Samsung S7.

If I open the app, go the the "Patterns" screen, and press the "Add Vibration" button over and over, after about 24 times it makes the pattern display look like a flat line, although not perfectly so.  Below is a screenshot.  I should incorporate some limits to make it so that the waves turn into blocks, or something like tha

[2022-04-20 16:48] jbphet commented on #10
The layout is working quite well on phone-sized screens at this point, and v0.0.1 is published for internal testing, and is successfully running on the phones of several team members.  I'm sure further work will be required in this area, but the primary problem is resolved.  Closing.

[2022-04-20 16:48] #10 closed, assigned to jbphet

[2022-04-20 17:16] Ashton-Morris commented on #14
[I am adding these icons here.](https://drive.google.com/drive/folders/16bKIpUDANSkrY9x2RZLu6-SvAMdzPG70)

- playstore_icon_haptics_playground_512.png
- playstore_icon_haptics_playground_144.png
- playstore_icon_haptics_playground_96.png
- playstore_icon_haptics_playground_72.png
- playstore_icon_haptics_playground_48.png
- playstore_icon_haptics_playground_36.png

[2022-04-25 18:22] jbphet opened #16 "Issues with using JavaScript modules in some test configurations"
As of this writing, I am able to build the Haptics Playground app and test it in Chrome on my development machine and on a Samsung Tab S7 that I have attached to my development machine via a USB cable.  I am *not* able to test on the Android emulators that are available through Android Studio, and have also not been able to test on @jessegreenberg's Android phone without making some modifications

[2022-04-25 18:26] jbphet commented on #16
This is an example of other people encountering this problem: https://github.com/apache/cordova-android/issues/1142

In this GitHub issue it says:

I just checked, and I'm using Cordova 10.0.0, but having this problem.  Do I need to configure my setup to use HTTP explicitly instead of `file` for loading?

[2022-04-25 20:05] jbphet commented on #16
I was able to get builds to work on the emulators, and to continue working in the browser and the Samsung S7.  I noticed in [this commit to the Cordova Android plugin](https://github.com/apache/cordova-android/commit/5e7be8e1d6f9863f78a3bd481a3d366cc4d0a804) that a change had been made to the file `ConfigXmlParser.java` to serve files from HTTP.  I looked at the platform code that I had locally, a

[2022-04-25 21:03] jbphet commented on #14
I've changed the graphics used by the app using the ones that @Ashton-Morris provided above.  I tried to upload the 512x512 image to the app store, but apparently one also needs to add a bunch of screenshots, which I don't think is worthwhile right now.  After tying this, I'm not even sure the large icon will show up anywhere if the app is never fully published, so I'm going to hold off on the lar

[2022-04-26 20:16] jbphet commented on #16
Works on @jessegreenberg's device - cool!  Closing.

[2022-04-26 20:16] #16 closed, assigned to jbphet

[2022-05-09 20:20] jbphet commented on #15
Fixed and demoed to the design team.  Closing.

[2022-05-09 20:20] #15 closed, assigned to nobody

[2022-05-09 20:22] jbphet commented on #11
I forgot this issue existed and create a duplicate, see https://github.com/phetsims/quake/issues/16.  The problem is now resolved, please see the other issue for details.  Closing.

[2022-05-09 20:22] #11 closed, assigned to nobody

[2022-05-09 20:23] jbphet commented on #7
At least for now, we're not going to use this sound.  It turns out that the tablet doesn't actually support jolts, it just supports shorter buzzes, so I'm using the sound associated with that instead.  Closing.

[2022-05-09 20:23] #7 closed, assigned to jbphet

[2022-05-10 18:09] jbphet opened #17 "Allow 25ms of resolution for patterns"
Version 0.0.1 of Haptics Playground supported a resolution of 50ms for vibration and space on the "Patterns" screen.  At today's weekly review meeting, it was requested that a finer-grained resolution of 25ms be supported.

[2022-05-11 20:16] jbphet opened #18 "Add save and load of patterns"
The 0.0.1 release didn't have the ability to save and load patterns.  This functionality is important for sharing patterns and putting them into specs, so it should be added in the next release.

[2022-05-11 22:26] jbphet commented on #18
This is turning out to be way harder than I'd anticipated.  Documentation is spotty and inconsistent for file manipulation, and the behavior doesn't seem to be consistent across platforms.  Through a lot of searching and experimentation, I was able to get something working on the emulator, but it doesn't work on my Samsung S7 tablet.  I decided to check the code in anyway because I need to work on

[2022-05-11 23:15] jbphet commented on #18
As of now, file saving works fine on the emulator and the S7 tablet, and the file open dialog works on both as well.  The problem occurs when trying to read the file on the S7.  A very non-helpful error is thrown that says:

[code]

This doesn't occur on the emulator, so I'm not at all sure what the problem is or how to correct it.  I have to leave it for now and continue it later.

[2022-05-16 22:18] jbphet opened #19 "Add some basic button state management for the "Patterns" screen"
In the 0.0.1 version there is no state management for the buttons.  For instance, the "Play" button is enabled when there is no pattern to play.  It would be good to have some basic state management supported.  Let's do this:

- Play button only enabled when there is a playable pattern
- Stop only enabled when repeat is checked and pattern is playing
- Clear only enabled when there is a pattern of

[2022-05-16 22:54] jbphet commented on #19
Done.  I'll verify in the next release.

[2022-05-16 23:18] jbphet commented on #18
I spent a fair amount of time trying to get file loading to work on the S7 tablet and so far I haven't gotten it to work.  Through exploring the cordova code, popping up alert messages, and setting breakpoints in the Java code in Android Studio, I was able to determine that the root cause is a file permissions error when trying to read the file.  I tried adding some new permissions requests to the

[2022-05-16 23:48] jbphet commented on #17
Done, published today in version 0.1.0.  Closing.

[2022-05-16 23:48] #17 closed, assigned to jbphet

[2022-05-16 23:48] jbphet commented on #19
Published today in the 0.1.0 release.  Closing.

[2022-05-16 23:48] #19 closed, assigned to jbphet

[2022-05-18 18:11] jbphet commented on #18
Over Slack, @jessegreenberg reported:

Good news.  Hopefully this will be the case for the other users as well.

[2022-05-19 20:37] jbphet commented on #13
This is done, and was released in version 0.1.0.  Closing.

[2022-05-19 20:37] #13 closed, assigned to jbphet

[2022-05-23 17:40] jbphet commented on #18
@BLFiedler has reported that loading files does not work on his Pixel 4a running Android 12.  Bummer.

[2022-05-23 18:05] jbphet commented on #9
I decided that rather than putting up dialog messages, I'd handle this through setting buttons states (see https://github.com/phetsims/quake/issues/19) and consolidating patterns.  This seems to be working reasonably well, so I'm going to close this issue.

[2022-05-23 18:05] #9 closed, assigned to nobody

[2022-05-23 18:06] jbphet commented on #8
I experimented with the the darker artwork, and have decided to leave things as they are, at least for now.  Closing.

[2022-05-23 18:06] #8 closed, assigned to jbphet

[2022-05-23 18:11] jbphet opened #20 "Do we need the "whitelist" plugin and the associated directives in the config.xml file?"
Haptics Playground was implemented starting from an example and building on it.  The example used the "cordova-plugin-whitelist".  This plugin allows the app to "whitelist" certain websites and URLs so that they can be loaded.  I'm not sure that we need any of this, and I'd like to simplify the code by removing it and the associated directives from the `config.xml` file.

Here is a link to more in

[2022-05-23 18:52] jbphet commented on #20
I have removed the whitelist plugin and the associated directives in the `config.xml` file.  I tested this on a Samsung S7 and in the browser (Chrome), and things seemed to work fine.

[2022-05-23 18:52] #20 closed, assigned to jbphet

[2022-05-23 18:52] jbphet commented on #20
I have removed the whitelist plugin and the associated directives in the `config.xml` file.  I tested this on a Samsung S7 and in the browser (Chrome), and things seemed to work fine.  Closing.

[2022-05-27 20:00] Ashton-Morris commented on #14
@jbphet I looked up the circular icon and it was labeled "**Existing launcher icon/ Adaptive Icon asset format (round - pixel default)**"

I am not sure if we need all of those sizes so I made them at 512px. It was hard to know how much would fit in the circle so I made the slide two sizes.

playstore_icon_haptics_playground_for_circle_512.png
playstore_icon_haptics_playground_for_circle_v2_512.pn

[2022-05-31 23:02] jbphet commented on #18
Another user has reported that file load for patterns isn't working, so I should do some investigation.

[2022-05-31 23:53] jbphet commented on #18
I tried adding a line to the `config.xml` file to request internal read permissions, since I thought that might be the issue.  The line looked like this:

[code]

...and I had to add the following to the root element:

[code]

This did indeed update the `AndroidManifest.xml` file, but it didn't solve the problem.  I still can't load files on the Samsung S7.

[2022-06-08 18:21] jbphet commented on #18
I just tried using a plugin that is supposed to allow code-based querying and modification of the app's permissions.  The plugin is called `cordova-plugin-android-permissions`, and I followed the information on [its npm page](https://www.npmjs.com/package/cordova-plugin-android-permissions) to set it up and try it out.  I started out by querying whether the app had `READ_EXTERNAL_STORAGE` and `WRI

[2022-06-13 21:13] jbphet commented on #18
I discussed the issue that I'm having with loading files on the Samsung S7 and other Android platforms with @mattpen today, and got some ideas of things to pursue.  He asked to see exactly the error that I'm running into when I step through the Java code in case he could lend some insight based on that.  So, below is the text of that error.  This was obtained by running the app on the Samsung S7 u

[2022-06-14 17:49] jbphet commented on #18
FWIW, I just tried adding the following line to the `config.xml` file based on [something I read in the file plugin documentation](https://cordova.apache.org/docs/en/11.x/reference/cordova-plugin-file/index.html#android-quirks).  It didn't seem to make any difference - file loading still errors out on the Samsung S7.

[code]

[2022-06-14 18:01] mattpen commented on #18
@jbphet - have you reviewed this guide: https://developer.android.com/training/data-storage/shared/documents-files?

I think you're already requesting READ_EXTERNAL_STORAGE, but without it you can't access files in shared storage.

In particular that guide has a section on how to "persist permissions": https://developer.android.com/training/data-storage/shared/documents-files#persist-permissions

[2022-06-14 18:03] mattpen commented on #18
https://developer.android.com/training/data-storage/manage-all-files

Maybe you also need to request MANAGE_EXTERNAL_STORAGE permission???

[2022-06-20 20:46] jbphet commented on #18
I did some experiments and found that I could save and subsequently load files out of the app's local storage area, as opposed to the shared "Downloads" file that it was using before.  That's great, but I couldn't get the save dialog and the "chooser" (for opening previously created files) to point to this portion of the file system, so I basically redesigned to UI to not have any dialogs and to s

[2022-06-20 23:44] jbphet opened #21 "Make the pattern into an object"
Functionality for the vibrational pattern is currently scattered about in the main file of the app.  It should be modularized into its own object.

[2022-06-21 21:22] jbphet commented on #21
Done, closing.

[2022-06-21 21:22] #21 closed, assigned to nobody

[2022-06-28 21:08] jbphet commented on #18
The save/load functionality is implemented and was published in the v1.0.0 release.  It no longer uses dialogs for saving and loading files (other than a quick "Save succeeded" alert dialog).  This seems to work on the Samsung S7 and I suspect it will work on other devices as well.

I'll have the team check it over once we resume meetings again.  It's not perfect, but it gets the job done, and I s

[2022-09-13 18:32] jbphet commented on #18
Changes reviewed and approved.  Closing.

[2022-09-13 18:32] #18 closed, assigned to nobody

[2022-09-13 18:34] jbphet commented on #2
I've documented the setup process in https://github.com/phetsims/quake/blob/master/doc/setup.md.  Closing.

[2022-09-13 18:34] #2 closed, assigned to nobody

[2022-09-13 18:35] jbphet commented on #4
The app is essentially done, at least for now, so I think the hardware that we ended up using served our needs.  See above for details.  Closing.

[2022-09-13 18:35] #4 closed, assigned to nobody

[2022-09-13 18:36] jbphet opened #22 "Publish publicly to Play Store"
One of my "rocks" for this quarter is to publish the version that was essentially completed last quarter to the Google Play Store.

[2022-09-15 17:30] brettfiedler opened #23 "Vibrations under 1001 ms not playing on Pixel 4a after latest Android 13 update"
Written in Slack:

Android Version:
![image](https://user-images.githubusercontent.com/47331395/190470967-6acff1fe-e188-4b92-a303-21837060ebbd.png)

The 1001 ms window includes spaces or click delay as part of the pattern to trigger. So, a 475 ms double click with 50 ms inter-click time does not trigger (= 1000ms total), but 75 ms does. 450 ms duration + 100 ms inter click does not trigger, 125ms

[2022-09-19 16:55] brettfiedler commented on #23
Follow up note - the sound does play even if the vibration does not.

New Android update (still 13) did not fix the above behavior.

[2022-09-19 21:27] jbphet opened #24 "Add the ability to remove saved patterns"
A feature was added a while back where vibratory patterns created on the "Patterns" screen could be saved and loaded (see #18).  This feature was implemented using local storage, and is working pretty well, but has one major deficiency: There is no way to remove any of the saved files.  They can be overwritten, but not deleted.  I was initially planning to ignore this, but after meeting with @Kati

[2022-09-20 19:09] jbphet commented on #23
@jessegreenberg - Can you try running the app on your phone and report whether it exhibits this problem?  If you need the link for the latest internal test version, hit me up on Slack and I'll send it to you.

[2022-09-20 19:21] jessegreenberg commented on #23
I have a Galaxy S8, Android version 9. I just tried Haptics Playground 1.0.0 and clicks and double clicks work well on the "Clicks" screen. Vibrations and buzzes for less than 1000ms all worked on the other screens. Let me know if you need more device info!

[2022-09-20 19:51] brettfiedler commented on #23
There seems to be something more nuanced about the Multi button. It plays a double, triple, or higher no matter how short it is. Attached example, the Multi button works, but the Double does not.

![Screenshot_20220920-154705](https://user-images.githubusercontent.com/47331395/191350964-53978bce-f03c-4775-ad0d-a233bdc47a2f.png)

Does this work for you @jessegreenberg ? https://googlechrome.github.

[2022-09-20 21:03] jessegreenberg commented on #23
On my device, I cannot use the "Multi" number input, no matter what value I enter the resultant value is 9. But the "Double" button works well. And the "Multi" button works well for 3 (default value) and 9 (the only value I can seem to set).

All of the buttons at https://googlechrome.github.io/samples/vibration/ worked well for me.

[2022-09-20 23:46] jessegreenberg commented on #23
Regarding usage of the "Multi" number input, over slack @BLFiedler said

I did this and got "Mutli" to 2. In that case, both "Double" and "Multi" work and feel the same on my device.

[2022-09-21 16:51] jbphet commented on #24
This has been implemented, and I've done a little bit of testing in the browser-based version.  The next step is to test it in the Android app.

[2022-09-26 19:44] jbphet commented on #22
@mattpen - You're the only one on the team (that I know of anyway) who has experience with publishing Android apps to the Play Store, since you've done it for the PhET Android app.  Is there anything that I should know about the process?  I'm happy to set up a meeting if you'd like.  The Haptics Playground app is currently in the "Internal Testing" state, so I'm starting from there and moving it t

[2022-09-26 19:47] mattpen commented on #22
I can't think of anything specific. I'd be happy to join a call and talk about the process. @oliver-phet has been pretty involved with the play store management of the phet app as well.

[2022-09-26 21:40] jbphet opened #25 "Privacy policy needed to publish app to Play Store"
I'm working through the steps to publish this to the Play Store (see parent issue #22), and I'm being told by the Play Store Console that I need to link to a privacy policy.  I could probably post this on GitHub, but I have little idea of what it is supposed to contain.

@mattpen - Where did you get the privacy policy for the PhET app and where is it hosted?

[2022-09-27 00:08] jbphet commented on #24
I tested on the Samsung S7 that I have, and it worked well.  It motivated me to add a confirmation dialog, which feels like an improvement.  I think I can call this complete - closing.

[2022-09-27 00:08] #24 closed, assigned to jbphet

[2022-09-27 00:22] jbphet opened #26 "Update to API 31"
I just tried to upload a build to the Play Store for what they refer to as "Closed Testing", but I got an error message that says:

There is a link to learn more, it's https://developer.android.com/google/play/requirements/target-sdk.

I was hoping to publish a version for QA to start testing today, but this is a blocking issue, and I've basically used up all my a11y time for the week.  I'll have

[2022-09-27 03:04] mattpen commented on #25
@jbphet - We just provide a link to our privacy policy: https://phet.colorado.edu/en/android-app-privacy-policy.

@oliver-phet - Do you know if we can just reuse this for quake?

[2022-09-27 15:15] oliver-phet commented on #25
@jbphet I assume we aren't collecting any analytics in quake? I don't think we should reuse the Android policy for quake since it states

It may just be time to create a derivative policy for quake? Assuming we aren't collecting any analytics, it could be a simple policy.

[2022-09-27 15:17] oliver-phet commented on #25
PhET Interactive Simulations and University of Colorado Boulder (“the CU PhET team”, “we”, or “us”) are deeply committed to protecting your privacy and creating a safe and secure environment for learners of all ages. This Privacy Policy applies to your use of the PhET Simulations Quake app, and only the Quake app. For information about use of PhET simulations and related resources on the PhET webs

[2022-09-27 16:46] jbphet commented on #25
@oliver-phet - That sounds great, thanks.  I'll replace "Quake" with "Haptics Playground", and set it up.

[2022-09-27 18:03] jbphet commented on #26
I tried simply updating the `android-targetSdkVersion` in the `config.xml` file in the root directory to 31 to see if it would just work.  Alas, that never happens, right?  The compilation process failed with an error that starts off with, "An exception has occurred in the compiler (1.8.0_202). Please file a bug against the Java compiler..."  Yikes.  So, I'm not going to get off that easily.  I'll

[2022-10-03 22:02] jbphet commented on #25
I took the blurb that @oliver-phet added above, edited it as needed, and added it as a markdown document to this repo.  I used a link to it in the Play Store console to set the privacy policy, but I'm wondering if we can post something a bit more official looking on the website.  @mattpen - Is there a way I could do that, either with the current markdown doc or a basic HTML file?

[2022-10-04 14:24] mattpen commented on #25
I added the policy to the website doc root: https://phet.colorado.edu/haptics-playground-privacy-policy.html

I tried to add the html file to the quake repo, but it failed because I don't have git hooks setup yet:

[code]

[2022-10-04 17:32] jbphet commented on #26
According to the table in [this Cordova document](https://cordova.apache.org/docs/en/11.x/guide/platforms/android/), I have to upgrade Cordova to get support for Android API 31.

[2022-10-04 17:40] jbphet commented on #26
After upgrading Cordova to 11.0.0, I was getting a build error that said, "No usable Android build tools found. Highest 32.x installed version is 30.0.3; Recommended version is 32.0.0."  I installed the 33.0.0 build tools using Android Studio, but that didn't seem to work.  I ended up adding some debug statements to the `cordova.gradle` file that comes with the Cordova installation, and found that

[2022-10-04 18:31] jbphet commented on #26
Now I'm getting an error message that says Java 11 is required for this version of Cordova.  Sheesh.  I downloaded and installed Java 11.0.15.1, and now I can complete a build.  I was also able to build and upload the bundle that the Play Store wanted.

[2022-10-04 18:46] jbphet commented on #26
The app seems to be working with the upgraded API and can now be successfully uploaded to the Play Store for Alpha testing.  Closing.

[2022-10-04 18:46] #26 closed, assigned to jbphet

[2022-10-10 20:04] jbphet commented on #23
I'm going to assign this to @KatieWoe to have the QA team update this with their findings as they work on https://github.com/phetsims/qa/issues/842.

[2022-10-11 16:28] KatieWoe commented on #23
I think I'm even seeing this on the tablet in the office, even though it only uses sound and doesn't support haptics. When click duration is short such as 25 or 50 ms, the single click doesn't play. Double will only make a sound 1 in 5 times or so, and only makes one click.

[2022-10-11 16:35] KatieWoe opened #27 "Single and Double often give too long or too short buzzes"
For https://github.com/phetsims/qa/issues/842. This was seen on a tablet that does not have haptics, so was instead noticed with sound enabled.
On the first screen, I noticed that between uses, the single and double button would show different lengths, sometimes seeming too long or short. With double in particular I've noticed instances where one buzz was longer or shorter than the other, or the t

[2022-10-11 16:41] KatieWoe commented on #27
Not everything is shown in the video, but things seem to be all over the place in general.

[2022-10-11 18:29] KatieWoe commented on #27
Short Buzzes on the Buzzes screen can also be a bit short or long from press to press.

[2022-10-11 18:33] KatieWoe commented on #23
Short vibrations on the Patterns screen are also prone to disappear for me.

[2022-10-11 18:33] KatieWoe commented on #27
Patterns on the Patterns screen also sometimes run together.

[2022-10-11 22:58] stemilymill commented on #23
I'm not seeing any of this behavior on my phone (samsung galaxy s21 ultra, android 12 which is the newest available to me). single and double clicks always play no matter how short duration, and with sound added or just vibrations.

[2022-10-12 16:11] stemilymill commented on #10
I can make this a separate issue if you'd like, but since it is phone layout related I'm putting it here.

https://github.com/phetsims/qa/issues/842

**NOTE:** My phone has a weird screen ratio, so things like this are fairly common.

Test device: Samsung Galaxy s21 Ultra, android version 12

There is some odd scrolling behavior where there shouldn't be scrolling. Usability is only very slightly i

[2022-10-17 18:20] jbphet commented on #22
I published version 1.1.0 for alpha testing by the QA team, see https://github.com/phetsims/qa/issues/842.

[2022-10-17 20:25] jbphet commented on #27
For future reference, the device used in the video above is a Samsung Galaxy Tab A7 Lite, model SM-T220, S/N R9JR702MX3Y, that generally resides in the QA office.

This problem does not occur on the A7 that I used during the development of the app, nor does it occur when running the browser-based version of the app, but I just grabbed the A7 Lite out of the QA office and am able to easily duplicat

[2022-10-17 22:17] jbphet commented on #27
I reviewed the sound generation code pretty carefully and made several modifications that I thought might improve the situation, but it didn't resolve the problem.  I committed the changes anyway, since they seem like an improvement to the code in terms of maintainability and general performance.

I then tried logging the timing of the calls to start and stop each segment of the sound patterns usi

[2022-10-17 22:28] jbphet commented on #27
During the testing described above, at one point - and only one point - I got a warning on the Android Studio console that said:

[code]

This got me thinking that perhaps the calls to the native vibration plugin are causing the timing problems, so I tried re-writing the `execute` call in `NativeVibration.java` to use a thread.  Alas, this didn't fix the problem either, so I backed it out.  The co

[2022-10-17 22:32] jbphet commented on #27
@stemilymill - I believe you are the only one on the QA team who tested using a device that actually supports haptics.  Did you experience any of the timing problems that @KatieWoe describes above?

[2022-10-18 20:01] jbphet commented on #25
Thanks @mattpen.  I just updated the link using the Play Store Console to point to the one that @mattpen posted on the website (https://phet.colorado.edu/haptics-playground-privacy-policy.html), and I think we should be good to go on this.  Closing.

[2022-10-18 20:01] #25 closed, assigned to jbphet

[2022-10-19 17:39] jbphet commented on #27
I may be able to fix this using a plugin that takes advantage of native sound.  There appears to be a well-supported plugin for this called cordova-plugin-nativeaudio, see https://www.npmjs.com/package/cordova-plugin-nativeaudio.  I talked with @emily-phet about whether I should spend the time to try this, and we decided that if I can fix the problem in roughly 3 hrs time I should go for it.  If i

[2022-10-19 18:02] stemilymill commented on #27
@jbphet i have not experienced any of these timing issues, with or without sound turned on.

[2022-10-31 23:33] jbphet opened #28 "branch: nativeSound"
This branch was created when I was trying out native sound as a solution for some timing problems described in https://github.com/phetsims/quake/issues/27.  That issue has the details, but in summary, the experiment didn't yield a significantly better outcome, so I didn't commit it to the master branch.  I'd like to keep it around for a while in case I have to revisit it.  If you're reading this a

[2022-10-31 23:39] jbphet commented on #27
I tried using two different native sound plugins, `cordova-plugin-nativeaudio` and `cordova-plugin-media`.  Of the two, I was able to get way further using the 2nd one.  I tried replacing the current Web-Audio-based sound generation with the native implementation, but the timing was only marginally better, and it had the undesirable effect of making the audio very clicky on the browser and other A

[2022-11-04 22:12] KatieWoe commented on #23
Noting for https://github.com/phetsims/qa/issues/849, with click duration at its shortest (25 ms) it doesn't play or may play incorrectly (such as one buzz instead of 2, etc.).

[2022-11-04 22:28] KatieWoe opened #29 "Only 1 or 9 clicks available"
**Device**
Galaxy Tab S7
**OS**
Android 12
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/qa/issues/849
On the Clicks screen, if you try to change the number of Multi clicks, you can only get 1 or 9. You get 1 if you use the back arrow, and any other input is interpreted as 9.
**Visuals**

https://user-images.githubusercontent.com/41024075/200083723-061eb0c8-5817-42a9-9

[2022-11-07 17:31] stemilymill commented on #29
As I mentioned to Katie earlier, here is an earlier documented example of this problem and the non-ideal workaround.

https://github.com/phetsims/quake/issues/23#issuecomment-1252909152

I also took a video of the process to actually change the number of clicks to anything besides 1 or 9.

https://user-images.githubusercontent.com/85511101/200375926-81ce01eb-20f1-4de5-8ff7-d4731abd52ef.mp4

[2022-11-08 00:17] jbphet commented on #29
This should now be fixed.  I changed the intended behavior a bit too - it now limits the valid range to 3-10, inclusive.  This is because values of 1 and 2 don't really make sense given that there are buttons for single and double clicks, and a max of 10 just felt like a reasonable amount.

[2022-11-08 18:45] jbphet commented on #29
Unassigning for now, will have QA verify in next release.

[2022-11-08 18:46] jbphet commented on #27
Closing as "won't fix".

[2022-11-08 18:46] #27 closed, assigned to jbphet, stemilymill

[2022-11-16 20:46] KatieWoe commented on #29
This looks good to me.

[2022-11-22 00:42] jbphet opened #30 "Create tablet screenshot for Play Store listing"
@KatieWoe - The Play Store listing could use a screenshot from a tablet, and I recently gave my test device to you.  Could you please use it to create a screenshot of the app and attach it to this issue?  Please choose a screen and a situation that you feel looks fairly decent.  Once done, assign the issue back to me and I'll upload it through the Play Store Console.

[2022-11-22 00:43] jbphet commented on #22
I published a 1.1.1 version for Beta Testing, and after QA finished that testing we decided to move forward with publishing the app to the Play Store.  I've taken what I believe are the appropriate steps using the Play Store Console, and it is now showing the status as "In Review".  It looks like this:

![image](https://user-images.githubusercontent.com/3082831/203186067-f8500fe8-52e4-410d-8679-e1

[2022-11-22 16:25] KatieWoe commented on #30
How does this look? I cropped the top and bottom, and I'm not sure if there are dimension requirements, so let me know if something needs to be changed.
![Screenshot_20221122_091328_HapticsPlaygroundcrop](https://user-images.githubusercontent.com/41024075/203367728-de605b4b-edea-4a25-aa3b-ee0f7bf45e81.jpg)

[2022-11-22 22:13] jbphet commented on #30
I just uploaded it via the Play Store console, and it seemed to be accepted, so I think we're good.  Thanks @KatieWoe.  Closing.

[2022-11-22 22:13] #30 closed, assigned to jbphet

[2022-11-28 19:01] jbphet commented on #22
The app has appeared on the play store, see https://play.google.com/store/apps/details?id=edu.colorado.phet.hapticsPlayground.  I think we're done here.  Closing.

[2022-11-28 19:01] #22 closed, assigned to jbphet